﻿<%@ Master Language="C#" AutoEventWireup="true" CodeBehind="Master.master.cs" Inherits="CutAdmin.HotelAdmin.Master" %>

<!DOCTYPE html>

<html class="no-js" lang="en">
<head runat="server">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>ClickUrHotel</title>
    <meta name="description" content="">
    <meta name="author" content="">

    <meta http-equiv="cache-control" content="no-cache" />
    <meta http-equiv="Pragma" content="no-cache" />
    <meta http-equiv="Expires" content="-1" />

    <!-- http://davidbcalhoun.com/2010/viewport-metatag -->
    <meta name="HandheldFriendly" content="True">
    <meta name="MobileOptimized" content="320">


    <!-- http://www.kylejlarson.com/blog/2012/iphone-5-web-design/ and http://darkforge.blogspot.fr/2010/05/customize-android-browser-scaling-with.html -->
    <meta name="viewport" content="user-scalable=0, initial-scale=1.0">
    <link href="css/styles/files.css" rel="stylesheet" />
    <!-- For all browsers -->
   <%-- <link href="css/styles/custom.css" rel="stylesheet" />--%>
    <link rel="stylesheet" href="css/reset.css?v=1">
    <link rel="stylesheet" href="css/style.css?v=1">
    <link rel="stylesheet" href="css/colors.css?v=1">
    <link rel="stylesheet" href="css/styles/calendars.css?v=1">
    <link rel="stylesheet" media="print" href="css/print.css?v=1">
    <!-- For progressively larger displays -->
    <link rel="stylesheet" media="only all and (min-width: 480px)" href="css/480.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 768px)" href="css/768.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 992px)" href="css/992.css?v=1">
    <link rel="stylesheet" media="only all and (min-width: 1200px)" href="css/1200.css?v=1">
    <!-- For Retina displays -->
    <link rel="stylesheet" media="only all and (-webkit-min-device-pixel-ratio: 1.5), only screen and (-o-min-device-pixel-ratio: 3/2), only screen and (min-device-pixel-ratio: 1.5)" href="css/2x.css?v=1">

    <!-- Webfonts -->
    <link href='http://fonts.googleapis.com/css?family=Open+Sans:300' rel='stylesheet' type='text/css'>
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>

    <!-- glDatePicker -->
    <link rel="stylesheet" href="../js/libs/glDatePicker/developr.fixed.css?v=1">

    <!-- jQuery Form Validation -->
    <%--	<link rel="stylesheet" href="../js/libs/formValidator/developr.validationEngine.css?v=1">--%>

    <!-- Additional styles -->
    <link rel="stylesheet" href="css/styles/agenda.css?v=1">
    <link rel="stylesheet" href="css/styles/dashboard.css?v=1">
    <link rel="stylesheet" href="css/styles/form.css?v=1">
    <link rel="stylesheet" href="css/styles/modal.css?v=1">
    <link rel="stylesheet" href="css/styles/progress-slider.css?v=1">
    <link rel="stylesheet" href="css/styles/switches.css?v=1">
    <%--<link rel="stylesheet" href="../css/styles/custom.css">--%>
    <link rel="stylesheet" href="css/styles/calendars.css?v=1">
    <link href="css/styles/custom.css?v=1.1" rel="stylesheet" />

    <!-- JavaScript at bottom except for Modernizr -->
    <script src="../js/libs/modernizr.custom.js"></script>
    <!-- For Modern Browsers -->
    <link rel="shortcut icon" href="img/favicons/favicon.png">
    <!-- For everything else -->
    <link rel="shortcut icon" href="img/favicons/favicon.ico">

    <!-- iOS web-app metas -->
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black">

    <!-- iPhone ICON -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon.png" sizes="57x57">
    <!-- iPad ICON -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-ipad.png" sizes="72x72">
    <!-- iPhone (Retina) ICON -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-retina.png" sizes="114x114">
    <!-- iPad (Retina) ICON -->
    <link rel="apple-touch-icon" href="img/favicons/apple-touch-icon-ipad-retina.png" sizes="144x144">

    <!-- iPhone SPLASHSCREEN (320x460) -->
    <link rel="apple-touch-startup-image" href="img/splash/iphone.png" media="(device-width: 320px)">
    <!-- iPhone (Retina) SPLASHSCREEN (640x960) -->
    <link rel="apple-touch-startup-image" href="img/splash/iphone-retina.png" media="(device-width: 320px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPhone 5 SPLASHSCREEN (640×1096) -->
    <link rel="apple-touch-startup-image" href="img/splash/iphone5.png" media="(device-height: 568px) and (-webkit-device-pixel-ratio: 2)">
    <!-- iPad (portrait) SPLASHSCREEN (748x1024) -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait.png" media="(device-width: 768px) and (orientation: portrait)">
    <!-- iPad (landscape) SPLASHSCREEN (768x1004) -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape.png" media="(device-width: 768px) and (orientation: landscape)">
    <!-- iPad (Retina, portrait) SPLASHSCREEN (2048x1496) -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-portrait-retina.png" media="(device-width: 1536px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 2)">
    <!-- iPad (Retina, landscape) SPLASHSCREEN (1536x2008) -->
    <link rel="apple-touch-startup-image" href="img/splash/ipad-landscape-retina.png" media="(device-width: 1536px)  and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 2)">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
    <!-- Additional styles -->

    <link rel="stylesheet" href="css/styles/table.css?v=1">
    <link href="css/font-awesome.min.css" rel="stylesheet" />
    <!-- DataTables -->
    <link rel="stylesheet" href="../js/libs/DataTables/jquery.dataTables.css?v=1">

    <link href="css/dynamicDiv.css" rel="stylesheet" />

    <script src="../Scripts/moments.js"></script>
    <!-- Microsoft clear type rendering -->
    <meta http-equiv="cleartype" content="on">
    <style type="text/css">
        .Currency-AED:before {
            content: "AED ";
            /*content: "ر.س";*/
            /*color: #72bf66;*/
            font-style: normal;
        }

        .Currency-AEDOrg:before {
            content: "AED ";
            /*content: "ر.س";*/
            /*color: #ff9900;*/
            font-style: normal;
        }

        .Currency-SAR:before {
            content: "SAR ";
            /*color: #72bf66;*/
            font-style: normal;
        }

        .Currency-SAROrg:before {
            content: "SAR ";
            /*color: #ff9900;*/
            font-style: normal;
        }
    </style>

    <asp:ContentPlaceHolder ID="head" runat="server">
    </asp:ContentPlaceHolder>
</head>
<body class="clearfix with-menu with-shortcuts">
    <header role="banner" id="title-bar"></header>
    <img alt="" src="../loader1.gif" id="loders" width="128" height="128" style="position: fixed; z-index: 9999; left: 55%; margin-top: 20%; display: none">
    <!-- Button to open/hide menu -->
    <a href="#" id="open-menu"><span>Menu</span></a>
    <section id="menu" role="complementary">
        <!-- This wrapper is used by several responsive layouts -->
        <div id="menu-content">
            <div class="logo" id="AdminLogo">
                <%--<img src="../img/logo.jpg" width="105" height="61">--%>
            </div>
            <!-- By default, this section is made for 4 icons, see the doc to learn how to change this, in "basic markup explained" -->
            <ul id="access" class="children-tooltip">
                <li><a href="#" onclick="UserProfile()" title="Profile"><span class="icon-user"></span></a></li>
                <li><a href="ChangePassword.aspx" title="Change Password"><span class="icon-gear"></span><span></span></a></li>
                <%-- <li><a href="#" title="Calendar"><span class="icon-calendar"></span></a></li>--%>
                <li><a href="#" onclick="btnLogout_Click()" title="Logout"><span class="icon-logout"></span></a></li>
            </ul>
            <section class="navigable">
                <ul class="big-menu">
                    <li><a href="DashBoard.aspx"><span>Dashboard</span></a></li>
                    <li class="with-right-arrow">
                        <span>User</span>
                        <ul class="big-menu">
                            <li id="liSu" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('SupplierList')">Supplier</a></li>
                            <li id="liSt" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('Staff')">Staff Details</a></li>
                        </ul>
                    </li>
                    <li class="with-right-arrow">
                        <span>Acounts</span>
                        <ul class="big-menu">
                            <li id="liVa" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('ViewAccount')">View Account</a></li>
                            <li id="liSm" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('Statements')">Statement</a></li>
                        </ul>
                    </li>
                    <li class="with-right-arrow">
                        <span>Hotel</span>
                        <ul class="big-menu">
                            <li id="liAh" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('AddHotel')">Add Hotel</a></li>
                            <li id="liHl" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('HotelList')">Hotel List</a></li>
                            <li id="liRr" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('RoomRates')">Hotel Booking</a></li>
                        </ul>
                    </li>
                    <li class="with-right-arrow">
                        <span>Configuration</span>
                        <ul class="big-menu">
                            <li id="liGlm" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('GlobalMarkup')">Global Markup</a></li>
                            <li id="liGpm" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('GroupMarkup')">Group MarKup</a></li>
                            <li id="liBd" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('BankDetails')">Bank Details</a></li>
                            <li id="liTx" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('Tax')">Tax</a></li>
                            <li id="liRl" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('Role')">Role</a></li>
                            <li id="liEm" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('EmailList')">Email</a></li>
                            <li id="liLn" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('Location')">Location</a></li>
                            <li id="liAs" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('AddOns')">Add-Ons</a></li>
                            <li id="liCp" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('CancellationPolicy')">Cancellation Policies</a></li>
                            <li id="liOr" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('Offer')">Offer</a></li>
                            <li id="liEr" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('ExchangeRate')">Exchange Rate</a></li>
                        </ul>
                    </li>
                    <li class="with-right-arrow">
                        <span>Report</span>
                        <ul class="big-menu">
                             <li id="liCr" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('CommissionReport')">Commission Report</a></li>
                            <li id="liCt" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('CommissionStatement')">Commission Statement</a></li>
                            <li id="liHb" style="display: none"><a style="cursor: pointer" onclick="IsAuthorized('HotelBookingList')">Hotel Booking</a></li>
                        </ul>
                    </li>
                </ul>
            </section>
        </div>
    </section>

    <asp:ContentPlaceHolder ID="ContentPlaceHolder1" runat="server">
    </asp:ContentPlaceHolder>
    <script src="../js/libs/jquery.tablesorter.min.js"></script>
    <script src="../js/libs/DataTables/jquery.dataTables.min.js"></script>
    <!-- Tinycon -->
    <script src="../js/libs/tinycon.min.js"></script>


    <script src="../js/libs/jquery-1.10.2.min.js"></script>
    <script src="../js/setup.js"></script>



    <!-- Template functions -->
    <script src="../js/developr.input.js"></script>
    <script src="../js/developr.message.js"></script>
    <script src="../js/developr.navigable.js"></script>
    <script src="../js/developr.notify.js"></script>
    <script src="../js/developr.scroll.js"></script>
    <script src="../js/developr.progress-slider.js"></script>
    <script src="../js/developr.tooltip.js"></script>
    <script src="../js/developr.confirm.js"></script>
    <script src="../js/developr.agenda.js"></script>
    <script src="../js/developr.table.js"></script>
    <script src="../js/developr.tabs.js"></script>
    <script src="../js/developr.accordions.js"></script>

    <!-- glDatePicker -->
    <script src="../js/libs/glDatePicker/glDatePicker.min.js?v=1"></script>
    <script src="../js/developr.modal.js"></script>

    <!-- Plugins -->
    <script src="../js/libs/jquery.tablesorter.min.js"></script>
    <script src="../js/libs/DataTables/jquery.dataTables.min.js"></script>
    <link href="css/jquery-ui.css" rel="stylesheet" />
    <script src="../Scripts/jquery-ui.js"></script>
    <script src="Scripts/Authorization.js?v=1.1"></script>
    <script src="Scripts/logout.js"></script>
    <link href="../js/libs/multipleSelect/multiple-select.css" rel="stylesheet" />
    <script src="../js/libs/multipleSelect/jquery.multiple.select.js"></script>
    <script src="../Scripts/Alert.js"></script>
    <script src="Scripts/CheckSession.js"></script>
    <script>

        $(function () {
            var session = '<%=Session["logo"]%>';
            UserType = '<%=Session["UserType"]%>';
            //debugger
            //logo.src = "../Agencylogo/" + session;

        })
        //Success("Done");
        //debugger
        function toDate(selector) { /* Date Format */
            var from = selector.split("/");
            var Month = from[0];
            if (Month.length == 1)
                Month = "0" + Month;
            var myformat = from[1] + '-' + Month + '-' + from[2];
            return myformat;
        }
        $(document).on({
            ajaxStart: function () {
                $("#loders").css("display", "")
                $("section").css("opacity", "0.5");
                $("header").css("opacity", "0.5");
                $("a").css("opacity", "0.5");
                $("body").css("pointer-events", "none");
            },
            ajaxStop: function () {
                $("#loders").css("display", "none")
                $("section").css("opacity", "");
                $("header").css("opacity", "");
                $("a").css("opacity", "");
                $("body").css("pointer-events", "");
            }
        });
        // Call template init (optional, but faster if called manually)
        $.template.init();

        // Color
        $('#anthracite-inputs').change(function () {
            $('#main')[this.checked ? 'addClass' : 'removeClass']('black-inputs');
        });

        // Switches mode
        $('#switch-mode').change(function () {
            $('#switch-wrapper')[this.checked ? 'addClass' : 'removeClass']('reversed-switches');
        });

        // Disabled switches
        $('#switch-enable').change(function () {
            $('#disabled-switches').children()[this.checked ? 'enableInput' : 'disableInput']();
        });

        // Tooltip menu
        $('#select-tooltip').menuTooltip($('#select-context').hide(), {
            classes: ['no-padding']
        });

        // Date picker
        $('.datepicker').glDatePicker({ zIndex: 100 });

        // Form validation
        //$('form').validationEngine();

    </script>

    <script>
        // Call template init (optional, but faster if called manually)
        $.template.init();

        // Favicon count
        //Tinycon.setBubble(2);

        // If the browser support the Notification API, ask user for permission (with a little delay)
        if (notify.hasNotificationAPI() && !notify.isNotificationPermissionSet()) {
            setTimeout(function () {
                notify.showNotificationPermission('Your browser supports desktop notification, click here to enable them.', function () {
                    // Confirmation message
                    if (notify.hasNotificationPermission()) {
                        notify('Notifications API enabled!', 'You can now see notifications even when the application is in background', {
                            icon: 'img/demo/icon.png',
                            system: true
                        });
                    }
                    else {
                        notify('Notifications API disabled!', 'Desktop notifications will not be used.', {
                            icon: 'img/demo/icon.png'
                        });
                    }
                });

            }, 2000);
        }

        /*
		 * Handling of 'other actions' menu
		 */

        var otherActions = $('#otherActions'),
			current = false;

        // Other actions
        $('.list .button-group a:nth-child(2)').menuTooltip('Loading...', {

            classes: ['with-mid-padding'],
            ajax: 'ajax-demo/tooltip-content.html',

            onShow: function (target) {
                // Remove auto-hide class
                target.parent().removeClass('show-on-parent-hover');
            },

            onRemove: function (target) {
                // Restore auto-hide class
                target.parent().addClass('show-on-parent-hover');
            }
        });

        // Delete button
        $('.list .button-group a:last-child').data('confirm-options', {

            onShow: function () {
                // Remove auto-hide class
                $(this).parent().removeClass('show-on-parent-hover');
            },

            onConfirm: function () {
                // Remove element
                $(this).closest('li').fadeAndRemove();

                // Prevent default link behavior
                return false;
            },

            onRemove: function () {
                // Restore auto-hide class
                $(this).parent().addClass('show-on-parent-hover');
            }

        });

        // Demo modal
        function openModal() {
            $.modal({
                content: '<p>This is an example of modal window. You can open several at the same time (click links below!), move them and resize them.</p>' +
						  '<p>The plugin provides several other functions to control them, try below:</p>' +
						  '<ul class="simple-list with-icon">' +
						  '    <li><a href="javascript:void(0)" onclick="openModal()">Open new blocking modal</a></li>' +
						  '    <li><a href="javascript:void(0)" onclick="$.modal.alert(\'This is a non-blocking modal, you can switch between me and the other modal\', { blocker: false })">Open non-blocking modal</a></li>' +
						  '    <li><a href="javascript:void(0)" onclick="$(this).getModalWindow().setModalTitle(\'\')">Remove title</a></li>' +
						  '    <li><a href="javascript:void(0)" onclick="$(this).getModalWindow().setModalTitle(\'New title\')">Change title</a></li>' +
						  '    <li><a href="javascript:void(0)" onclick="$(this).getModalWindow().loadModalContent(\'ajax-demo/auto-setup.html\')">Load Ajax content</a></li>' +
						  '</ul>',
                title: 'Example modal window',
                width: 300,
                scrolling: false,
                actions: {
                    'No': {
                        color: 'red',
                        click: function (win) { win.closeModal(); }
                    },
                    'Center': {
                        color: 'green',
                        click: function (win) { win.centerModal(true); }
                    },
                    'Refresh': {
                        color: 'blue',
                        click: function (win) { win.closeModal(); }
                    },
                    'Abort': {
                        color: 'orange',
                        click: function (win) { win.closeModal(); }
                    }
                },
                buttons: {
                    'No': {
                        classes: 'huge blue-gradient glossy full-width',
                        click: function (win) { win.closeModal(); }
                    }
                },
                buttonsLowPadding: true
            });
        };

        // Demo alert
        function openAlert() {
            $.modal.alert('This is an alert message', {
                buttons: {
                    'Thanks, captain obvious': {
                        classes: 'huge blue-gradient glossy full-width',
                        click: function (win) { win.closeModal(); }
                    }
                }
            });
        };

        // Demo prompt
        function openPrompt() {
            var cancelled = false;

            $.modal.prompt('Please enter a value between 5 and 10:', function (value) {
                value = parseInt(value);
                if (isNaN(value) || value < 5 || value > 10) {
                    $(this).getModalContentBlock().message('Please enter a correct value', { append: false, classes: ['red-gradient'] });
                    return false;
                }

                $.modal.alert('Value: <strong>' + value + '</strong>');

            }, function () {
                if (!cancelled) {
                    $.modal.alert('Oh, come on....');
                    cancelled = true;
                    return false;
                }
            });
        };

        // Demo confirm
        function openConfirm() {
            $.modal.confirm('Challenge accepted?', function () {
                $.modal.alert('Me gusta!');

            }, function () {
                $.modal.alert('Meh.');
            });
        };

        /*
		 * Agenda scrolling
		 * This example shows how to remotely control an agenda. most of the time, the built-in controls
		 * using headers work just fine
		 */

        // Days
        var daysName = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'],

			// Name display
			agendaDay = $('#agenda-day'),

			// Agenda scrolling
			agenda = $('#agenda').scrollAgenda({
			    first: 2,
			    onRangeChange: function (start, end) {
			        if (start != end) {
			            agendaDay.text(daysName[start].substr(0, 3) + ' - ' + daysName[end].substr(0, 3));
			        }
			        else {
			            agendaDay.text(daysName[start]);
			        }
			    }
			});

        // Remote controls
        $('#agenda-previous').click(function (event) {
            event.preventDefault();
            agenda.scrollAgendaToPrevious();
        });
        $('#agenda-today').click(function (event) {
            event.preventDefault();
            agenda.scrollAgendaFirstColumn(2);
        });
        $('#agenda-next').click(function (event) {
            event.preventDefault();
            agenda.scrollAgendaToNext();
        });

        // Demo loading modal
        function openLoadingModal() {
            var timeout;

            $.modal({
                contentAlign: 'center',
                width: 240,
                title: 'Loading',
                content: '<div style="line-height: 25px; padding: 0 0 10px"><span id="modal-status">Contacting server...</span><br><span id="modal-progress">0%</span></div>',
                buttons: {},
                scrolling: false,
                actions: {
                    'Cancel': {
                        color: 'red',
                        click: function (win) { win.closeModal(); }
                    }
                },
                onOpen: function () {
                    // Progress bar
                    var progress = $('#modal-progress').progress(100, {
                        size: 200,
                        style: 'large',
                        barClasses: ['anthracite-gradient', 'glossy'],
                        stripes: true,
                        darkStripes: false,
                        showValue: false
                    }),

						// Loading state
						loaded = 0,

						// Window
						win = $(this),

						// Status text
						status = $('#modal-status'),

						// Function to simulate loading
						simulateLoading = function () {
						    ++loaded;
						    progress.setProgressValue(loaded + '%', true);
						    if (loaded === 100) {
						        progress.hideProgressStripes().changeProgressBarColor('green-gradient');
						        status.text('Done!');
						        /*win.getModalContentBlock().message('Content loaded!', {
									classes: ['green-gradient', 'align-center'],
									arrow: 'bottom'
								});*/
						        setTimeout(function () { win.closeModal(); }, 1500);
						    }
						    else {
						        if (loaded === 1) {
						            status.text('Loading data...');
						            progress.changeProgressBarColor('blue-gradient');
						        }
						        else if (loaded === 25) {
						            status.text('Loading assets (1/3)...');
						        }
						        else if (loaded === 45) {
						            status.text('Loading assets (2/3)...');
						        }
						        else if (loaded === 85) {
						            status.text('Loading assets (3/3)...');
						        }
						        else if (loaded === 92) {
						            status.text('Initializing...');
						        }
						        timeout = setTimeout(simulateLoading, 50);
						    }
						};

                    // Start
                    timeout = setTimeout(simulateLoading, 2000);
                },
                onClose: function () {
                    // Stop simulated loading if needed
                    clearTimeout(timeout);
                }
            });
        };

        function ErrorImage(Image) {
            Image.src = "Img/user.png";
        }

    </script>
    <script>

        function GetQueryStringParams(sParam) {
            var sPageURL = window.location.search.substring(1);
            var sURLVariables = sPageURL.split('&');
            for (var i = 0; i < sURLVariables.length; i++) {
                var sParameterName = sURLVariables[i].split('=');
                if (sParameterName[0] == sParam) {
                    return sParameterName[1];
                }
            }
        }
    </script>
</body>
</html>
